.box {
    position: relative;
    background: rgba(255, 255, 255, 0.538);  /* Semi-transparent white */
    backdrop-filter: blur(5px); /* Adjust the blur radius */
    -webkit-backdrop-filter: blur(50px); /* For Safari */
  }