<!-- <div class="card flex justify-content-center">
    <atom-button [iconProps]="'pi pi-check'" [button-label]="'TEst'" (PrimengClickButtons)="onClick($event)"></atom-button>
</div>
<app-mol-input-fields></app-mol-input-fields> -->
<form [formGroup]="FormLogin">
<div class="flex flex-row w-screen h-screen justify-center items-center">
    <div class="box h-4/6 w-6/12 rounded-2xl shadow-lg bg-white px-2 py-5" [@contentAnimation]>
        <div class="flex flex-col w-full items-center justify-center gap-3">
            <div class="header-login py-1 my-3 flex flex-col w-full items-center">
                <p class="text-3xl font-bold">LOGIN</p>
                <p class="text-3xl font-extrabold">
                    <span class="text-yellow-400">GRA</span> 
                    <span class="text-sky-600">HCIS </span>
                    <span class="text-indigo-500"> (DEV V.2)</span>
                  </p>
            </div>
           
            <div class="flex flex-col gap-2 w-6/12 mt-4">
             
                <p class="text-xl font-bold text-slate-700">Username *</p>
                <input  type="text" pInputText styleClass="p-inputText-sm w-full" style="width: 100%;" formControlName="user_name" />
                <p class="text-xl font-bold text-slate-700">Password *</p>
                <div class="p-inputgroup">
                    <input [type]="passwordVisibility ? 'password':'text'" pInputText placeholder="" formControlName="password" />

                    <button type="button" pButton [icon]="passwordVisibility ? 'pi pi-eye':'pi pi-eye-slash'" styleClass="p-button-sm" (click)="setVisibility()"></button>
                    
                </div>
                <small *ngIf="FormLogin.get('password')?.invalid && FormLogin.get('password')?.touched" class="p-error">
                    password is required.
                  </small>
                <p-button [label]="'Log In'" styleClass="w-full p-button-success" icon="pi pi-sign-in" class="mt-3 p-1" (onClick)="onLogin(FormLogin.value)"></p-button>
                <div class="flex flex-col mt-12 w-full justify-center items-center">
                    <p>Application Version 1.0.0</p>
                </div>
      
            </div>
      
        </div>
    </div>
</div>
</form>